/* Import Friends font */

@font-face {
  font-family: "friends";
  src: url("../fonts/friends.ttf") format("truetype");
}

/* Variables */

:root {
  --logo-red: #ff4747;
  --logo-blue: #007bb5;
  --logo-yellow: #ffd700;
  --background-color: white;
  --border-color: black;
  --border-style: solid;
  --border-width: 3px;
}

/* Body */

* {
  font-family: friends;
}

body {
  background-color: var(--background-color);
}

/* Header */

header {
  background-color: var(--background-color);
  width: 57vw;
  height: 150px;
  display: flex;
  justify-content: center;
  border-style: var(--border-style);
  border-color: var(--border-color);
  border-width: var(--border-width);
  border-radius: 10px;
  margin: 20px auto;
}

header > h1 {
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  padding-top: 23px;
  padding-left: 20px;
}

.title-image {
  display: flex;
  width: 300px;
  height: 150px;
}

/* Footer */

.footer {
  border: var(--border-color) var(--border-style) var(--border-width);
  border-color: var(--border-color);
}

.footer-nav {
  background-color: var(--background-color);
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.footer-link {
  width: 50px;
  height: 50px;
  margin: 20px;
  padding: 20px;
}
