/* Import Friends font */

@font-face {
  font-family: "friends";
  src: url("../fonts/friends.ttf") format("truetype");
}

/* Variables */

:root {
  --logo-red: #ff4747;
  --logo-blue: #007bb5;
  --logo-yellow: #ffd700;
  --active-color: lightblue;
  --background-color: white;
  --border-color: black;
  --border-style: solid;
  --border-width: 3px;
}

/* Body */

* {
  font-family: friends;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
}

/* Header */

header {
  gap: 10px;
  width: 57vw;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border-style: var(--border-style);
  border-color: var(--border-color);
  border-width: var(--border-width);
  background-color: var(--background-color);
}

header > h1 {
  font-size: 42px;
  font-weight: bold;
  text-align: center;
}

.title-image {
  max-height: 80px;
  max-width: 280px;
  border-radius: 10px;
  object-fit: cover;
  width: 100%;
}

/* Footer */

.footer {
  border: var(--border-color) var(--border-style) var(--border-width);
  border-color: var(--border-color);
}

.footer-nav {
  background-color: var(--background-color);
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.footer__link {
  width: 50px;
  height: 50px;
  margin: 20px;
  padding: 20px;
}

/* .footer__link.footer__link--active {
  background-color: var(--active-color);
} */
