@font-face {
  font-family: "friends";
  src: url("/fonts/friends.ttf") format("truetype");
}

/* Variables */

:root {
  --logo-red: #ff4747;
  --logo-blue: #007bb5;
  --logo-yellow: #ffd700;
  --border-style: solid;
  --background-color: white;
  --border-width: 3px;
  --border-color: black;
}

/* Global styles */

body {
  font-family: friends;
  background-color: var(--background-color);
}

/* Header */

header {
  background-color: var(--background-color);
  width: 57vw;
  height: 150px;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  border-style: var(--border-style);
  border-color: var(--border-color);
  border-width: var(--border-width);
  border-radius: 10px;
  margin: 20px auto;
}

header > h1 {
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  padding-top: 23px;
  padding-left: 20px;
}

.title-image {
  display: flex;
  width: 300px;
  height: 150px;
}

/* Main */

.card-section {
  width: 60vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto; /* top & bottom set to 0 and left & right set to equal distance from edge*/
}

.card {
  background-color: lightsalmon;
  display: flex;
  flex-direction: column;
  border-style: var(--border-style);
  border-color: var(--border-color);
  border-width: var(--border-width);
  border-radius: 10px;
  padding: 30px;
  margin: 20px;
  position: relative;
}

.card__bookmark {
  /* display: flex; */
  /* flex-flow: wrap; */
  position: absolute;
  width: 30px;
  height: 50px;
  top: 0;
  right: 15px;
}

.card__bookmark img {
  /* pointer-events: stroke; */
  position: absolute;
  width: 50px;
  height: 70px;
  top: -15px;
  right: 0;
}

.card__question {
  height: auto;
  width: auto;
  padding: 20px;
}

.card__button {
  /* position: absolute; */
  background-color: var(--logo-yellow);
  font-family: friends;
  justify-content: center;
  padding: 10px;
  margin: 0 auto;
}

.card__answer {
  display: none;
}

.card__tags {
  /* position: absolute; */
  background-color: var(--logo-blue);
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.card_tags > li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 30px;
  padding: 30px;
}

/* .card__show-answer:focus + .question-card__answer {
  display: block;
} */

/* Footer */

.footer-nav {
  display: flex;
  justify-content: space-evenly;
}

.footer-link {
  width: 50px;
  height: 50px;
  margin: 20px;
  padding: 20px;
}
